{% extends "base.html" %}
{% block page_content_inner %}


{% if request.user.is_authenticated %}
{% include "body/task_groups.html" %}

<div class="col-sm-12 mt-3">
<h2>My Task</h2>
{% include "body/my_task_table.html" %}

{% include "body/task_pagination.html"  %}

<!-- number -->


{% else %}

<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="col-lg-12">
            <h1>Welcome to the task management system.</h1>
        </div>
        <div class="col-lg-12">
            <p>To apply for an approval of activities or development within the Swan Canning Riverpark’s <A href=''>Development Control Area</A>, please enter your email address.  You will then receive an email with a direct link into the application system.</p>
            <p>If this is your first time logging in, you will be asked to provide your contact details and proof of identity</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="col-sm-12 col-md-10 col-lg-10 ">
            <div class="panel panel-default">
                <div class="panel-body " style='background-color: #f7fcff'>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h2>Swan Canning Riverpark application system</h2>
                        <form method="post" action="url "social:complete" backend="email" ">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token_value }}" />
                            <div class="form-group required-form-field"><label class="control-label" for="id_email">Email</label><input class="form-control" id="id_email" maxlength="254" name="email" title="" type="email" required=""></div>


                            <div id="submit-container">
                                <button class="btn btn-primary pull-right">Submit</button>

                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <BR>
                        <label>Submit your email to login or start the new-user registration process.</label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <hr>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h3>Password-less Logins</h3>
                        At the Department of Biodiversity, Conservation and Attractions,  we employ a password-less authentication system, meaning you never need to remember a password.  When you need to login to a site, simply enter you email and an authentication link will be sent to your registered email address. From there, simply follow the link to complete the login process.
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
</div>

{% endif %}
{% endblock %}
